.table td, .table th {
    padding: .53rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.color{
	width:100%;
	height: 200px;
	background-color: aqua;
}
.error {
	width: 92%;
	background-color: aqua;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}